body {
    margin: 0;
    background: #EAF6F6;
    text-align: center;
}

.slider-size {
	height: 500px; /* This is your slider height */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel {
	width:100%; 
	margin:0 auto; /* center your carousel if other than 100% */ 
}

#header {
    margin-bottom: 450px;
}

#personalData {
    padding-top: 35px;
}

#experience {
    padding-top: 35px;
}


#imgPerfil {
    width: 10%;
    margin-bottom: 10px;
    border-radius: 50%;
}


h1 {
    margin-top: 110px;
    font-family: 'EB Garamond', serif;
    font-size: 3.5rem;
    color: #085f63;
}


#especiality {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    color: #085f63;
}

.technologies {
	padding: 0px 100px 0px 100px;
}


.cloud {
    width: 50%;
    position: absolute;
}

#leftCloud {
    right: 10%;
    top: 260px;
}

#rightCloud {
    top: 80px;
    left: 10%;
}

.mountain {
    width: 60%;
    position: absolute;
    bottom: 0px;
    left: 25%;
    top: 307px;
}

.generalData {
    width: 25%;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    line-height: 1.5;

}

.largeText {
    width: 30%;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    line-height: 1.5;

}

.subtitle {
    font-weight: bold;
}

.icons {
    margin-right: 10px;
}

hr {
    border-top: 5px dotted gray;
    width: 5%;
    margin-bottom: 3.5em;
}

.img-courses {
	margin: 0 auto;
	width: 20%;

}

#img_certifications_title_front {
	height: 700px;
	display: inline!important;
}

#img_certifications_title_back {
	height: 700px;
	display: inline!important;
}

#img_certifications_php {
	height: 700px;
	display: inline!important;
}

#img-certifications_scrum {
	height: 700px;
	display: inline!important;	
}

#carouselExampleControls {
	
	/* margin-top: 40px; */
	padding: 70px;
}

/** #carouselCertifications {
	height: 300px;
	padding: 70px;
} **/

#titles {
	padding-top: 50px;
}

/** Pongo flechas personalizadas para el carrusel de Boostrap**/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("../images/right-arrow.png");
  width: 50px;
  height: 50px;
} 

#carousel-prev, #carousel-next {
   margin-top: 425px;
}

.carousel-control-prev-icon {
	transform:rotate(180deg);
}

.d-block.img-certifications {
	padding-bottom: 50px;
}

/*.carousel-control-next-icon:after {
  content: '>';
  font-size: 30px;
  font-weight: bold;
  color: #226b80;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #226b80;
} */


/************ Timeline *************/

a {
    text-decoration: none
}

h4 {
    text-align: center;
    margin: 30px 0;
    color: #444
    font-weight: bold;
}

.course {
	/*padding: 20px 5px 20px 5px;*/
	margin-top: 40px;
	font-weight: bold;
}

#scrum-certification {
	margin-top: 10px;
}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    width: 5px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    background: #242922;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    display: inline-block;
    margin-bottom: 50px;
    position: relative
}

.main-timeline .timeline:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #ec496e;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

.main-timeline .timeline-icon {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #ec496e;
    padding: 13px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%)
}

.main-timeline .timeline-icon i {
    display: block;
    border-radius: 50%;
    background: #ec496e;
    font-size: 64px;
    color: #fff;
    line-height: 100px;
    z-index: 1;
    position: relative
}

.main-timeline .timeline-icon:after,
.main-timeline .timeline-icon:before {
    content: "";
    width: 100px;
    height: 4px;
    background: #ec496e;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%)
}

.main-timeline .timeline-icon:after {
    width: 70px;
    height: 50px;
    background: #fff;
    top: 89px;
    right: -30px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 0 50px;
    margin: 52px 0 0;
    float: right;
    position: relative
}

.main-timeline .timeline-content:before {
    content: "";
    width: 70%;
    height: 100%;
    border: 3px solid #ec496e;
    border-top: none;
    border-right: none;
    position: absolute;
    bottom: -13px;
    left: 35px
}

.main-timeline .timeline-content:after {
    content: "";
    width: 37px;
    height: 3px;
    background: #ec496e;
    position: absolute;
    top: 13px;
    left: 0
}

.main-timeline .title {
    font-size: 20px;
    font-weight: 600;
    color: #ec496e;
    text-transform: uppercase;
    margin: 0 0 5px
}

.main-timeline .description {
    display: inline-block;
    font-size: 16px;
    color: #404040;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 30%
}

.main-timeline .timeline:nth-child(even) .timeline-icon:before {
    right: auto;
    left: -100px
}

.main-timeline .timeline:nth-child(even) .timeline-icon:after {
    right: auto;
    left: -30px
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: left
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: auto;
    right: 35px;
    transform: rotateY(180deg)
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    left: auto;
    right: 0
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .timeline-icon i,
.main-timeline .timeline:nth-child(2n) .timeline-icon:before,
.main-timeline .timeline:nth-child(2n):before {
    background: #f9850f
}

.main-timeline .timeline:nth-child(2n) .timeline-icon {
    border-color: #f9850f
}

.main-timeline .timeline:nth-child(2n) .title {
    color: #f9850f
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
    border-left-color: #f9850f;
    border-bottom-color: #f9850f
}

.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .timeline-icon i,
.main-timeline .timeline:nth-child(3n) .timeline-icon:before,
.main-timeline .timeline:nth-child(3n):before {
    background: #8fb800
}

.main-timeline .timeline:nth-child(3n) .timeline-icon {
    border-color: #8fb800
}

.main-timeline .timeline:nth-child(3n) .title {
    color: #8fb800
}

.main-timeline .timeline:nth-child(3n) .timeline-content:before {
    border-left-color: #8fb800;
    border-bottom-color: #8fb800
}

.main-timeline .timeline:nth-child(4n) .timeline-content:after,
.main-timeline .timeline:nth-child(4n) .timeline-icon i,
.main-timeline .timeline:nth-child(4n) .timeline-icon:before,
.main-timeline .timeline:nth-child(4n):before {
    background: #2fcea5
}

.main-timeline .timeline:nth-child(4n) .timeline-icon {
    border-color: #2fcea5
}

.main-timeline .timeline:nth-child(4n) .title {
    color: #2fcea5
}

.main-timeline .timeline:nth-child(4n) .timeline-content:before {
    border-left-color: #2fcea5;
    border-bottom-color: #2fcea5
}

@media only screen and (max-width:1200px) {
    .main-timeline .timeline-icon:before {
        width: 50px;
        right: -50px
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        right: auto;
        left: -50px
    }

    .main-timeline .timeline-content {
        margin-top: 75px
    }
}


@media only screen and (max-width:769px) {
    .main-timeline {
        padding-top: 50px
    }

    .main-timeline:before {
        left: 80px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline {
        margin-bottom: 70px
    }

    .main-timeline .timeline:before {
        top: 0;
        left: 83px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline-icon {
        width: 60px;
        height: 60px;
        line-height: 40px;
        padding: 5px;
        top: 0;
        left: 0
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        left: 0;
        right: auto
    }

    .main-timeline .timeline-icon:before,
    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        width: 25px;
        left: auto;
        right: -25px
    }

    .main-timeline .timeline-icon:after,
    .main-timeline .timeline:nth-child(even) .timeline-icon:after {
        width: 25px;
        height: 30px;
        top: 44px;
        left: auto;
        right: -5px
    }

    .main-timeline .timeline-icon i {
        font-size: 30px;
        line-height: 45px
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        width: 100%;
        margin-top: -15px;
        padding-left: 130px;
        padding-right: 5px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content {
        float: right
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        width: 50%;
        left: 120px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        right: auto;
        transform: rotateY(0)
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        left: 85px
    }
}

@media only screen and (max-width:479px) {

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding-left: 110px
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before {
        left: 99px
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after {
        left: 65px
    }
}



/******************* Timeline Demo - 4 *****************/
.main-timeline4 {
    overflow: hidden;
    position: relative
}

/** Linea vertical de la linea de tiempo**/
.main-timeline4:before {
    content: "";
    width: 5px;
    height: 84%;
    background: #333;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%)
}

.main-timeline4 .timeline-content:before,
.main-timeline4 .timeline:before {
    top: 50%;
    transform: translateY(-50%);
    content: ""
}

.main-timeline4 .timeline {
    width: 50%;
    padding-left: 100px;
    float: right;
    position: relative
}

.main-timeline4 .timeline:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #333;
    position: absolute;
    left: -10px
}

.main-timeline4 .timeline-content {
    display: block;
    padding-left: 150px;
    position: relative
}

.main-timeline4 .timeline-content:before {
    width: 90px;
    height: 10px;
    border-top: 7px dotted #333;
    position: absolute;
    left: -92px
}

.main-timeline4 .year {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 100px;
    border-radius: 50%;
    border: 10px solid #f54957;
    font-size: 30px;
    color: #f54957;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0
}

.main-timeline4 .year:before {
    content: "";
    border-left: 20px solid #f54957;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -13px;
    right: 0;
    transform: rotate(45deg)
}

.main-timeline4 .inner-content {
    padding: 20px 0
}

.main-timeline4 .title {
    font-size: 24px;
    font-weight: 600;
    color: #f54957;
    text-transform: uppercase;
    margin: 0 0 5px
}

.main-timeline4 .description {
    font-size: 28px;
    color: #6f6f6f;
    margin: 0 0 5px
}

.main-timeline4 .timeline:nth-child(2n) {
    padding: 0 100px 0 0
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content:before,
.main-timeline4 .timeline:nth-child(2n) .year,
.main-timeline4 .timeline:nth-child(2n):before {
    left: auto;
    right: -10px
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content {
    padding: 0 150px 0 0
}

.main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
    right: -92px
}

.main-timeline4 .timeline:nth-child(2n) .year {
    right: 0
}

.main-timeline4 .timeline:nth-child(2n) .year:before {
    right: auto;
    left: 0;
    border-left: none;
    border-right: 20px solid #7cba01;
    transform: rotate(-45deg)
}

.main-timeline4 .timeline:nth-child(2) {
    margin-top: 110px
}

.main-timeline4 .timeline:nth-child(odd) {
    margin: -110px 0 0
}

.main-timeline4 .timeline:nth-child(even) {
    margin-bottom: 80px
}

.main-timeline4 .timeline:first-child,
.main-timeline4 .timeline:last-child:nth-child(even) {
    margin: 0
}

.main-timeline4 .timeline:nth-child(2n) .year {
    border-color: #1ebad0;
    color: #1ebad0
}

.main-timeline4 .timeline:nth-child(2) .year:before {
    border-right-color: #1ebad0
}

.main-timeline4 .timeline:nth-child(2n) .title {
    color: #1ebad0
}

.main-timeline4 .timeline:nth-child(3n) .year {
    border-color: #7cba01;
    color: #7cba01
}

.main-timeline4 .timeline:nth-child(3) .year:before {
    border-left-color: #7cba01
}

.main-timeline4 .timeline:nth-child(3n) .title {
    color: #7cba01
}

.main-timeline4 .timeline:nth-child(4n) .year {
    border-color: #f8781f;
    color: #f8781f
}

.main-timeline4 .timeline:nth-child(4) .year:before {
    border-right-color: #f8781f
}

.main-timeline4 .timeline:nth-child(4n) .title {
    color: #f8781f
}


/*@media only screen and (max-width:990px) {
    .main-timeline .timeline {
        margin: 0 0 10px
    }

    .main-timeline .timeline-icon {
        left: 25%
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        right: 25%
    }

    .main-timeline .timeline-content {
        margin-top: 115px
    }
}


@media only screen and (max-width:1200px) {
    .main-timeline4 .year {
        top: 50%;
        transform: translateY(-50%)
    }
}

@media only screen and (max-width:1024px) {
    .main-timeline4 .timeline {
        padding-left: 75px
    }

    .main-timeline4 .timeline:nth-child(2n) {
        padding: 0 75px 0 0
    }

    .main-timeline4 .timeline-content {
        padding-left: 130px
    }

    .main-timeline4 .timeline:nth-child(2n) .timeline-content {
        padding: 0 130px 0 0
    }

    .main-timeline4 .timeline-content:before {
        width: 68px;
        left: -68px
    }

    .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
        right: -68px
    }
} */

@media only screen and (max-width:1024px) {
   

    .main-timeline4 {
        overflow: visible
    }

    .main-timeline4:before {
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(0)
    }

    .main-timeline4 .timeline:before,
    .main-timeline4 .timeline:nth-child(2n):before {
        top: 60px;
        left: -9px;
        transform: translateX(0)
    }

    .main-timeline4 .timeline,
    .main-timeline4 .timeline:nth-child(even),
    .main-timeline4 .timeline:nth-child(odd) {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0 0 10px
    }

    .main-timeline4 .timeline-content,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content {
        padding: 0
    }

    .main-timeline4 .timeline-content:before,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
        display: none
    }

    .main-timeline4 .timeline:nth-child(2n) .year,
    .main-timeline4 .year {
        position: relative;
        transform: translateY(0)
    }

    .main-timeline4 .timeline:nth-child(2n) .year:before,
    .main-timeline4 .year:before {
        border: none;
        border-right: 20px solid #f54957;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: -23px;
        bottom: auto;
        right: auto;
        transform: rotate(0)
    }

    .main-timeline4 .timeline:nth-child(2n) .year:before {
        border-right-color: #1ebad0
    }

    .main-timeline4 .timeline:nth-child(3n) .year:before {
        border-right-color: #7cba01
    }

    .main-timeline4 .timeline:nth-child(4n) .year:before {
        border-right-color: #f8781f
    }

    .main-timeline4 .inner-content {
        padding: 10px
    }
}

@media only screen and (max-width:768px) {

    #img_certifications_php {
       height: 600px;
       width: 550px;
       margin-top: 50px;
    }

    #img_certifications_scrum {
      height: 650px;
      width: 550px;
      padding-top: 100px;
    }

    .main-timeline4 {
        overflow: visible
    }

    .main-timeline4:before {
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(0)
    }

    .main-timeline4 .timeline:before,
    .main-timeline4 .timeline:nth-child(2n):before {
        top: 60px;
        left: -9px;
        transform: translateX(0)
    }

    .main-timeline4 .timeline,
    .main-timeline4 .timeline:nth-child(even),
    .main-timeline4 .timeline:nth-child(odd) {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
        margin: 0 0 10px
    }

    .main-timeline4 .timeline-content,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content {
        padding: 0
    }

    .main-timeline4 .timeline-content:before,
    .main-timeline4 .timeline:nth-child(2n) .timeline-content:before {
        display: none
    }

    .main-timeline4 .timeline:nth-child(2n) .year,
    .main-timeline4 .year {
        position: relative;
        transform: translateY(0)
    }

    .main-timeline4 .timeline:nth-child(2n) .year:before,
    .main-timeline4 .year:before {
        border: none;
        border-right: 20px solid #f54957;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: -23px;
        bottom: auto;
        right: auto;
        transform: rotate(0)
    }

    .main-timeline4 .timeline:nth-child(2n) .year:before {
        border-right-color: #1ebad0
    }

    .main-timeline4 .timeline:nth-child(3n) .year:before {
        border-right-color: #7cba01
    }

    .main-timeline4 .timeline:nth-child(4n) .year:before {
        border-right-color: #f8781f
    }

    .main-timeline4 .inner-content {
        padding: 10px
    }
}

/** Cards **/

.container {
    margin-top: 100px;
}
.card-title {
    padding: 10px;
    background-color: #75cac3;
}
.card-content {
    text-align: center;
    padding: 0px !important;
}
ul li {
    padding: 20px !important;
    font-weight: bold;
}
.card {
    transition: .5s;
}
.card:hover {
    transform: scale(1.05);
    transition: .5s;
}

.card h3 {
	font-family: "EB Garamond', serif";
	font-weight: bold;
	color: #103c42;
}

h4 {
	font-family: "EB Garamond', serif";
	font-weight: bold;
	color: #02576c;
}

/** Tecnologias dominadas **/

ul {
  list-style-type: none;
}

/** Media Queries **/

@media only screen and (max-width: 1024px) {

  .mountain {
  	width:90%;
  	top: 420px;
  	left:10%;
  }

  #leftCloud {
    width: 70%;
  }

  #rightCloud {
    width: 70%;
  }
  

  #name {
    font-size: 4.5rem;
  }

  #especiality {
  	font-size: 1.6rem;
  }

  #hr1 {
  	margin-top: 95px;
  	width: 10%;
  	border-top: 10px dotted gray;
  }

  /*.horizontalRow {
  	margin-top: 50px;
  	width: 10%;
  	border-top: 10px dotted gray;
  } */

  #imgPerfil {
  	 width:20%;
  }

  .generalData {
  	width: auto;
  	font-size:1.5rem;
  	text-align: center;
  	font-size: 28px;
  }

  .largeText{
  	width: auto;
  	text-align: center;
  	font-size: 28px;
  }

  h4 {
  	font-size: 2rem;
  }

  .technologies-languages {
  	  position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 15px;
      max-width: inherit;
      flex: auto;
  }

  #img-certifications_scrum {
  	 width: 750px
  	 height: 750px;
  	 padding-bottom: 100px;
  }


}

/** Ajusto las propiedades del slider Titulo y Certificados, para cuando se 
está en la computadora**/
@media only screen and (min-width:1025px) and (max-width:1366px){

    #scrum_certification {
    	width: 1366px;
    	height:  1056px;
    	margin-top: 330px;
    }

    #carouselCertifications {
    	padding: 0px;
    }

    #title_behind {
    	width:   1366px;
    	height:  1634px;
    	margin-top: -10px;
    }

    #title_front {
    	width:   1366px;
    	height:  1638px;
    	margin-top: -10px;
    }

    #php_certification {
    	width: 1366px;
    	height: 1340px; 
    	margin-top: 200px;
    }

    #carouselCertifications #carousel-prev, #carouselCertifications #carousel-next {
    	margin-top: 50px;
    }

    /**Centrar horizontalmente las imagenes del slider **/
    #col_titles_certifications {
    	padding-left: 37px;
    	padding-right: 15px;
    }


    /** Evito que brinque el carrusel  de un slide a otro cuando las images
     son de diferentes tamaños**/

     /** Ajusto el alto de cada slider, para que no se vean cortadas la imagenes**/
    #carouselCertifications .carousel-item {
    	height: 1750px;
    }

	.carousel {
	  width:100%; 
	  margin:0 auto; /* center your carousel if other than 100% */ 
	}

}


/** Ipad Pro **/
@media only screen and (min-width:768px) and (max-width:1024px) {


	h1 {
      margin-top: 30px;	
    }

    hr {
    	width: 10%;
    	border-top: 10px dotted gray;
    }

    #hr1 {
    	margin-top: 180px;
    	left: 6%;
    }

    #scrum_certification {
    	width: 1024px;
    	height: 792px;
    	margin-top: 230px;
    }

    #carouselCertifications {
    	padding: 0px;
    }

    #title_behind {
    	width: 1024px;
    	height: 1226px;
    	margin-top: -20px;
    }

    #title_front {
    	width: 1024px;
    	height: 1228px;
    	margin-top: -20px;
    }

    #php_certification {
    	width: 1024px;
    	height: 1005px;
    	margin-top: 110px;
    }

    #carouselCertifications #carousel-prev, #carouselCertifications #carousel-next {
    	margin-top: 70px;
    }

    /**Centrar horizontalmente las imagenes del slider **/
    #col_titles_certifications {
    	padding-left: 25px;
    	padding-right: 15px;
    }


    /** Evito que brinque el carrusel  de un slide a otro cuando las images
     son de diferentes tamaños**/

     /** Ajusto el alto de cada slider, para que no se vean cortadas la imagenes**/
    #carouselCertifications .carousel-item {
    	height: 1250px;
    }

	.carousel {
	  width:100%; 
	  margin:0 auto; /* center your carousel if other than 100% */ 
	}
}

/** Ipad **/
@media only screen and (min-width:415px) and (max-width:768px) {

    /** Estilos montaña, nubes y lineas hr **/

	#header {
		margin-bottom: 280px;
	}

	h1 {
      margin-top: 30px;	
    }

    hr {
    	width: 10%;
    	border-top: 10px dotted gray;
    }

    #hr1 {
    	margin-top: 180px;
    	left: 6%;
    }

    /** Fin Estilos montaña, nubes y lineas hr **/

    /** Estilos del carrusel de certificaciones**/

    #scrum_certification {
    	width: 768px;
    	height: 594px;
    	margin-top: 200px;
    }

    #carouselCertifications {
    	padding: 0px;
    }

    #title_behind {
    	width: 768px;
    	height: 919px;
    	margin-top: -20px;
    }

    #title_front {
    	width: 768px;
    	height: 921px;
    	margin-top: -20px;
    }

    #php_certification {
    	width: 768px;
    	height: 754px;
    	margin-top: 120px;
    }

    #carouselCertifications #carousel-prev, #carouselCertifications #carousel-next {
    	margin-top: 100px;
    }

    /**Centrar horizontalmente las imagenes del slider **/
    #col_titles_certifications {
    	padding-left: 23px;
    	padding-right: 5px;
    }


    /** Evito que brinque el carrusel  de un slide a otro cuando las images
     son de diferentes tamaños**/

     /** Ajusto el alto de cada slider, para que no se vean cortadas la imagenes**/
    #carouselCertifications .carousel-item {
    	height: 950px;
    }

	.carousel {
	  width:100%; 
	  margin:0 auto; /* center your carousel if other than 100% */ 
	}
}

/**Iphone 6/7/8 Plus **/
@media only screen and (min-width:376px) and (max-width: 414px) {

	/** Estilos montaña, nubes y lineas hr **/

	#leftCloud {
		right: -1%;
		top:260px;
	}

	#rightCloud {
		display: none;
	}

    h1 {
      margin-top: 30px;	
    }

    hr {
    	width: 11%;
    	border-top: 10px dotted gray;
    }

    #hr1 {
    	margin-top: 180px;
    	left: 6%;
    }

    .mountain {
    	top: 510px;
    	left: 5%;
    }

    /** Fin Estilos montaña, nubes y lineas hr **/

    /** Tecnologias e Idiomas **/

    .technologies {
    	padding:0px;
    }

    /** Estilos del carrusel de certificaciones**/

    #scrum_certification {
    	width: 414px;
    	height: 320px;
    	margin-top: 100px;
    }

    #carouselCertifications {
    	padding: 0px;
    }

    #title_behind {
    	width: 414px;
    	height: 495px;
    	margin-top: -30px;
    }

    #title_front {
    	width: 414px;
    	height: 496px;
    	margin-top: -30px;
    }

    #php_certification {
    	width: 414px;
    	height: 406px;
    	margin-top: 50px;
    }

    #carouselCertifications #carousel-prev, #carouselCertifications #carousel-next {
    	margin-top: 40px;
    }

        /**Centrar horizontalmente las imagenes del slider **/
    #col_titles_certifications {
    	padding-left: 19px;
    	padding-right: 10px;
    }


    /** Evito que brinque el carrusel  de un slide a otro cuando las images
     son de diferentes tamaños**/
    #carouselCertifications .carousel-item {
    	height: 500px;
    }

	#carouselCertifications.carousel {
	  width:100%; 
	  margin:0 auto; /* center your carousel if other than 100% */ 
	}

	/** Fin Estilos del carrusel de certificaciones**/
}


/** Iphone 6/7/8 **/
@media only screen and (max-width:375px) {

	/** Estilos montaña, nubes y lineas hr **/

	#leftCloud {
		right: -1%;
		top:290px;
	}

	#rightCloud {
		display: none;
	}

    h1 {
      margin-top: 30px;	
    }

    hr {
    	width: 11%;
    	border-top: 10px dotted gray;
    }

    #hr1 {
    	margin-top: 70px;
    	left: 6%;
    }

    .mountain {
    	top: 510px;
    	left: 5%;
    }

    /** Fin Estilos montaña, nubes y lineas hr **/

    /** Tecnologias e Idiomas **/

    .technologies {
    	padding:0px;
    }


	/** Estilos del carrusel de certificaciones**/

    #scrum_certification {
    	width: 375px;
    	height: 290px;
    	margin-top: 80px;
    }

    #carouselCertifications {
    	padding: 0px;
    }

    #title_behind {
    	width: 375px;
    	height: 450px;
    	margin-top: -20px;
    }

    #title_front {
    	width: 375px;
    	height: 450px;
    	margin-top: -20px;
    }

    #php_certification {
    	width: 375px;
    	height: 368px;
    	margin-top: 30px;
    }

    #carouselCertifications #carousel-prev, #carouselCertifications #carousel-next {
    	margin-top: 10px;
    }


    /**Centrar horizontalmente las imagenes del slider **/
    #col_titles_certifications {
    	padding-left: 23px;
    	padding-right: 10px;
    }


    /** Evito que brinque el carrusel  de un slide a otro cuando las images
     son de diferentes tamaños**/

     /** Ajusto el alto de cada slider**/
    #carouselCertifications .carousel-item {
    	height: 450px;
    }

	.carousel {
	  width:100%; 
	  margin:0 auto; /* center your carousel if other than 100% */ 
	}

	/** Termina estilos del carrusel de certificaciones**/
}
